@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f2f5fa;
    /* --text: #667085; */

    --primary: #2166f0;
    --primaryLight: #f3f8ff;
    --btnPrimaryText: #fff;

    --btnOutlineBg: #fff;
    --btnOutlineText: #05060f99;

    --button-border: ;
    --box-border: #eaecf0;
  }
}

@layer base {
  body {
    @apply bg-background;
  }
}
